.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

button {  
  max-width: fit-content;
  width: 100%;
  margin: 0 auto;

  background-color: transparent;
  border: none;
  color: #4ECCA3;
  font-size: 2rem;
 
  &:hover{
    transition: .2s ease-in;
    color: aliceblue;
    cursor: pointer;
  }
}

footer {
  max-width: fit-content;
  width: 100%;
  margin: 5% auto 0;
  color: #5e5d5d;
  font-family: 'Indie Flower', cursive;
}
